@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- 頁尾 start -->
<div class="footer row d-flex my-footer border-top border-opacity-10" style="white-space:nowrap;">
    <div class="col-sm-4 flex-fill text-end">
        <a href="#"><img class="my-footer-logo" src="~/image/logo-b.png" alt=""></a>
    </div>
    <nav class="col-sm-4">
        <h5>常見問題 / 協助</h5>
        <ul>
            <li><a href="" class="list-group-item-action list-group-item w-25">帳號問題</a></li>
            <li><a href="" class="list-group-item-action list-group-item w-25">訂單問題</a></li>
            <li><a href="" class="list-group-item-action list-group-item w-25">條款與銷售細則</a></li>
            <li><a href="" class="list-group-item-action list-group-item w-25">法律聲明</a></li>
        </ul>
    </nav>
    <nav class="col-sm-3">
        <div class="row w-25">
            <div class="col-6 text-center fs-2 my-fb">
                <a href="" class="list-group-item-action"><i class="bi bi-facebook"></i></a>
            </div>
            <div class="col-6 fs-2 my-yt">
                <a href="" class="list-group-item-action"><i class="bi bi-youtube"></i></a>
            </div>
            <div class="col-6 text-center fs-2 my-tt">
                <a href="" class="list-group-item-action"><i class="bi bi-twitter"></i></a>
            </div>
            <div class="col-6 fs-2 my-tw">
                <a href="" class="list-group-item-action"><i class="bi bi-twitch"></i></a>
            </div>
        </div>
    </nav>
    <div class="fs-6"> © 2024 Dan Gaming. All rights reserved.</div>
</div>
<!-- 頁尾 end -->

<script src="~/lib/jquery/dist/jquery-3.7.1.min.js"></script>
<script>
    $(document).on("scroll", function () {
        let value = $(document).scrollTop() > 20;

        $(".my-header").css({
            "background-color": value ? `rgb(52, 58, 64, 0.8)` : `rgb(52, 58, 64, 0)`,
            "height": value ? "60px" : "80px",
            "backdrop-filter": value ? "blur(5px)" : "blur(0px)"
        })
    })

    //購物車圖標model功能開始
    let myOffcanvas = $(`
        <div class="offcanvas offcanvas-bottom mikecanvas" tabindex = "-1" id = "offcanvasBottom" aria - labelledby="offcanvasBottomLabel" >
    <div class="offcanvas-header mikecanvas_header" >
    <h5 class="offcanvas-title mikecanvas_title" id = "offcanvasBottomLabel" > 快速檢視購物車 < /h5>
    < button type = "button" class= "btn-close text-reset" data - bs - dismiss="offcanvas" aria - label="Close" > </button>
    < /div>
    < div class= "offcanvas-body small mikecanvas_body" >



    </div>


    < div class= "canvasgotocheck" >
    <a href="" > <i class="fa-solid fa-cart-shopping" > </i> <b></b > </a>
    < /div>



    < /div>`)
        .appendTo("body")
        .css({
            "border-radius": "30px 30px 30px 30px",
            margin: "20px 100px",
            height: "45vh",
            width: "90vw",
        });

    function rendermyOffcanvasGameItems(apps) {
        console.log("拿資料囉");
        console.log(apps); // 正确的变量名是 apps，而不是 aaps

        $.each(apps, function (index, app) {
            const myOffcanvasGameItem = $(
                `<div class="canvasgameitem" data - appid="${app.appId}" >
            <p class="canvasitem-name" > ${ app.appName } < /p>
            < div class= "itempic" >
            <a href="" > <img src="https://steamcdn-a.akamaihd.net/steam/apps/${app.appId}/library_600x900.jpg" alt = "" > </a>
            < /div>
            < div class= "itemprice" >
            <p class="canvasGameItemrp" > NT: ${ app.price } < /p>
            < /div>
            < i class= "fa-solid fa-circle-minus deleticon" > </i>
            < /div>`);

            // 将创建的 myOffcanvasGameItem 添加到 .mikecanvas_body 中
            $(".mikecanvas_body").append(myOffcanvasGameItem);
            canvascalculate()
            myOffcanvasGameItem.find(".deleticon").on("click", function () {
                $(this).parent(".canvasgameitem").remove();
                console.log($(this).closest(".canvasgameitem").data("appid"))
                var canvanappid = $(this).closest(".canvasgameitem").data("appid")
                $.ajax({
                    method: "DELETE",
                    url: `delete /ShoppingCart/${ canvanappid }`,
                    success: function (data) {
                        console.log("成功刪除");
                    },
                    error: function (xhr, status, error) {
                        console.log("刪除失敗", status, error);
                    }
                    });

            canvascalculate();
        });
    });
        }

    //canvas的計算功能開始
    function canvascalculate() {
        let canvastotal = 0;
        myOffcanvas.find(".canvasGameItemrp").each(function () {
            let canvaspriceText = $(this).text().replace("NT:", "");
            let canvasprice = parseFloat(canvaspriceText);
            if (!isNaN(canvasprice)) {
                canvastotal += canvasprice;
            }
        });
        myOffcanvas.find(".canvasgotocheck b").text(canvastotal);
        if (canvastotal == 0) {
            myOffcanvasGameItem.find(".canvasgotocheck a").attr("href", "#");
            bsOffcanvas.hide();
        }
    }
    //建立model
    var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);

    //點擊跳窗
    $(".mycart").on("click", (event) => {
        event.preventDefault()
        // if (canvastotal == 0) {
        //     bsOffcanvas.block();
        // }
        bsOffcanvas.toggle();
        console.log("嗨");
    });

    //購物車圖標model功能結束
</script>