


/*img {
    width: 150px;
    object-fit: cover;
}
*/
.title {
    width: 700px;
}

.imglist-text {
    padding-left: 10px;
}

.b-list_brief {
    font-size: 13px;
}

.b-list_title:hover {
    color: rgb(197, 37, 189);
}

