@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DanGame.Models.GameViewModel

<style>
	.selected-item {
		color: white;
	}
</style>

<body class="area">
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<br>
	<br>
	<br>
	<br>

	<div class="container">
		<h2 class="text-center"
			style="width: 150px; margin: 20px; background: linear-gradient(to right, #e9b6e9, #d885ec, #bf91f0); border-radius: 10px; padding: 4px; color: white;">
			排行榜
		</h2>
		<div class="mx-3 mt-3 mb-4 mt-4">
			<div class="border rounded"
				 style="width: 100%; height: 130px; background-color: rgb(202, 202, 202, 0.3    );">
				<div>
					<dl class="d-flex">
						<dt style="margin: 10px;">已選</dt>
						<dd class="selected-item" style="margin: 10px;"></dd>
						<dd style="margin: 10px;">
							<a href="" class="reset"
							   style="text-decoration: none; color: black;">重置</a>
						</dd>
					</dl>
					<dl class="d-flex">
						<dt style="margin: 10px;">類別</dt>
						<div id="categories" style="margin: 10px;"></div>
					</dl>
				</div>
			</div>
		</div>

		<div id="app-detail" class="card mb-3 z-0 mx-3 mt-4 mb-4">
			<div class="row g-0">
				<div class="col-md-4">
					<img id="app-image" src="" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body" style="padding: 10px 10px 0 10px;">
						<h4 class="card-title mx-2" id="app-name"></h4>
						<div style="position: absolute; top: 15px; right: 50px; font-size: 15px;" id="app-downloads"> 下載次數 : </div>
						<div class="mb-3 mx-2">
							<p class="card-text border rounded" id="app-description"></p>
						</div>
						<div class="d-flex">
							<div>
								<p class="card-text">
									<small class="text-body-secondary border rounded-pill"
										   style="padding: 5px 15px; background-color: rgb(226, 226, 226);" id="app-genre"></small>
								</p>
							</div>
						</div>
						<div class="mt-3" style="position: absolute; bottom: 9%; left: 35%; font-size: 12px;" id="app-release-date"> 上架日期 : </div>
						<div class="text-end">
							<button class="btn btn-outline-primary" style="margin: 0 20px; position: absolute; bottom: 9%; right: 2%;">詳細資訊</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center" style="margin-bottom: 50px;">
			<button class="btn btn-outline-light"
					style="font-size: 20px;">
				查看更多
			</button>
		</div>


	</div>
	<script src="~/lib/jquery/dist/jquery-3.7.1.min.js"></script>
	<script>

		var apps = [];
		var tags = [];
		const maxSelection = 5;
		let selectedItems = [];


		$(document).ready(function () { 
			$.get("http://localhost:5000/api/app/tags", (data) => {
				tags = data;
			}).done(() => {
				for (let tag of tags) {
					$("#categories").append(
						$(`<dd style="margin: 10px;" tagid=${tag.tagId} ><a href="#"  class="list-group-item">${tag.tagName}</a></dd>`)
							.on("click", function (event) {
								event.preventDefault();
								let selectedText = $(this).text();
								let selectedTagsString = $(".selected-item").text()

								if (!selectedItems.includes(tag.tagName)) {
									if (selectedItems.length < maxSelection) {
										selectedItems.push(tag.tagName);
										$(".selected-item").text(selectedItems.join(", "));
									} else {
										alert("最多只能選擇5個類別");
									}
								}
								ReloadAppDetail();
							})
					).css({
						display: "flex"
					})
				}
			})


			$.get("http://localhost:5000/api/app", (data) => {
				apps = data;
			})

			$(".reset").click(function (e) {
				e.preventDefault();
				selectedItems = [];
				$(".selected-item").text("");
				ReloadAppDetail()
			});
			
			
		})

		function ReloadAppDetail() { 
			let result = apps.filter( (app) => {
				let include = []
				for (let tag of app.tags) {
					include.push( selectedItems.includes(`${tag.tagName}`))
				}
				return include.some( (b) => b)
			})
			$("#app-detail").html("");
			for (let app of result) {

				let appDetail = $(`
					<div class="card mb-3 z-0 mx-3 mt-4 mb-4">
						<div class="row g-0">
							<div class="col-md-4">
								<img id="app-image" src="${app.headerImage}" class="img-fluid rounded-start" alt="${app.appName}">
							</div>
							<div class="col-md-8">
								<div class="card-body" style="padding: 10px 10px 0 10px;">
									<h4 class="card-title mx-2" id="app-name">${app.appName}</h4>
									<div style="position: absolute; top: 15px; right: 50px; font-size: 15px;" id="app-downloads"> 下載次數 : ${app.downloaded}</div>
									<div class="mb-2 mx-2">
												<p class="card-text border rounded" id="app-description">${app.appDesc}</p>
									</div>
									<div class="d-flex">
										<div>
											<p class="card-text app-genres">
											</p>
										</div>
									</div>
									<div class="mt-1" style="position: absolute; bottom: 9%; left: 35%; font-size: 12px;" id="app-release-date"> 上架日期 : ${app.releaseDate}</div>
									<div class="text-end readmore">
									</div>
								</div>
							</div>
						</div>
					</div>
						`).appendTo("#app-detail")

				for (let tag of app.tags) {
					appDetail.find(".app-genres").append(
						`<small class="text-body-secondary border rounded-pill"
								style="padding: 5px 15px; background-color: rgb(226, 226, 226);" id="app-genre">${tag.tagName}</small>
						`
					)
					appDetail.find(".readmore").append(
						`<button class="btn btn-outline-primary" style="margin: 0 20px; position: absolute; bottom: 9%; right: 2%;">詳細資訊</button>`
					)
				}

			}
		}

		// $(document).ready(function () {
		// 	let selectedItems = [];
		// 	let selectedTagIds = [];
		// 	let apps = [];
		// 	const maxSelection = 5;

		// 	$.get("http://localhost:5000/api/app", (data) => {
		// 		apps = data;
		// 	})

		// 	$(".list-group-item").click(function (e) {
		// 		e.preventDefault();
		// 		let selectedText = $(this).text();

		// 		if (!selectedItems.includes(selectedText)) {
		// 			if (selectedItems.length < maxSelection) {
		// 				selectedItems.push(selectedText);
		// 				$(".selected-item").text(selectedItems.join(", "));
		// 			} else {
		// 				alert("最多只能選擇5個類別");
		// 			}
		// 		}

		// 		selectedTagIds = [];
		// 		$(".selected-item").each((tagElm) => { 
		// 			selectedTagIds.push($(tagElm).attr("tagid")) 
		// 		})
		// 	});

		// 	$(".reset").click(function (e) {
		// 		e.preventDefault();
		// 		selectedItems = [];
		// 		$(".selected-item").text("");
		// 	});
		// });

		// 獲取 tags Get "tagId","tagName"
		// 顯示 tagName 在畫面上
		// "GetAppByTags"  Post  "tagName"對應的 "apps" 裡面的 "appId"
		// 取得 "appId"後 "AppsDetail" Post "app.appName"、"app.headerImage"、"app.shortDescription"、"tagName"、"app.downloaded"、"app.releaseDate"

		// const categoriesContainer = document.getElementById('categories');
		// const appDetailContainer = document.getElementById('app-detail');

		// 获取所有 tags
		// fetch('http://localhost:5000/api/app/tags', {
		// 	method: 'GET',
		// 	headers: {
		// 		'Content-Type': 'application/json'
		// 	}
		// })
		// 	.then(response => response.json())
		// 	.then(tagData => {
		// 		console.log('Tag data fetched:', tagData);

		// 		categoriesContainer.innerHTML = ''; // 清空内容
		// 		$("#categories").css({
		// 			display: "flex"
		// 		});
		// 		appDetailContainer.innerHTML = ''; // 清空内容
		// 		tagData.forEach(tag => {
		// 			const tagElm = $(`<dd style="margin: 10px;"><a href="#" tagID="${tag.tagId}" class="list-group-item">${tag.tagName}</a></dd>`);
		// 			tagElm.click(() => fetchAppDetails(tag.tagId, tag.tagName));
		// 			tagElm.appendTo(categoriesContainer);
		// 		});
		// 	})
		// 	.catch(error => {
		// 		console.error('There was a problem with the fetch operation:', error);
		// 	});

		// function fetchAppDetails(tagId, tagName) {

		// 	// 首先根据 tagId 获取相关的 apps
		// 	fetch('http://localhost:5000/api/app/GetAppByTags', {
		// 		method: 'POST',
		// 		headers: {
		// 			'Content-Type': 'application/json'
		// 		},
		// 		body: JSON.stringify([tagId]) // 发送选定的 tagId 数组
		// 	})
		// 		.then(response => response.json())
		// 		.then(tagData => {
		// 			console.log('Apps for tag fetched:', tagData);

		// 			// 获取所有与该 tag 相关的 appId
		// 			const appIds = tagData.flatMap(tag => tag.apps.map(app => app.appId));

		// 			// 根据 appId 获取 app 详情
		// 			return fetch('http://localhost:5000/api/app/AppsDetail', {
		// 				method: 'POST',
		// 				headers: {
		// 					'Content-Type': 'application/json'
		// 				},
		// 				body: JSON.stringify(appIds) // 发送选定的 appId 数组
		// 			});
		// 		})
		// 		.then(response => response.json())
		// 		.then(appDetails => {
		// 			console.log('App details fetched:', appDetails);

					

		// 			appDetails.forEach(app => {
		// 				const appDetail = document.createElement('div');
		// 				appDetail.className = 'card mb-3 z-0 mx-3 mt-4 mb-4';
		// 				appDetail.innerHTML = `
		// 				<div class="row g-0">
		// 					<div class="col-md-4">
		// 						<img id="app-image" src="${app.headerImage}" class="img-fluid rounded-start" alt="${app.appName}">
		// 					</div>
		// 					<div class="col-md-8">
		// 						<div class="card-body" style="padding: 10px 10px 0 10px;">
		// 							<h4 class="card-title mx-2" id="app-name">${app.appName}</h4>
		// 							<div style="position: absolute; top: 15px; right: 50px; font-size: 15px;" id="app-downloads"> 下載次數 : ${app.downloaded}</div>
		// 							<div class="mb-2 mx-2">
		// 								<p class="card-text border rounded" id="app-description">${app.shortDescription}</p>
		// 							</div>
		// 							<div class="d-flex">
		// 								<div>
		// 									<p class="card-text">
		// 										<small class="text-body-secondary border rounded-pill"
		// 											   style="padding: 5px 15px; background-color: rgb(226, 226, 226);" id="app-genre">${tagName}</small>
		// 									</p>
		// 								</div>
		// 							</div>
		// 							<div class="mt-1" style="position: absolute; bottom: 9%; left: 35%; font-size: 12px;" id="app-release-date"> 上架日期 : ${app.releaseDate}</div>
		// 							<div class="text-end">
		// 								<button class="btn btn-outline-primary" style="margin: 0 20px; position: absolute; bottom: 9%; right: 2%;">詳細資訊</button>
		// 							</div>
		// 						</div>
		// 					</div>
		// 				</div>
		// 			`;
		// 				appDetailContainer.appendChild(appDetail);
		// 			});
		// 		})
		// 		.catch(error => {
		// 			console.error('Error fetching app details:', error);
		// 		});
		// }


	</script>
</body>