@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DanGame.Models.GameViewModel

<style>
	.selected-item {
		color: white;
	}

	.my-footer {
		background-color: rgb(202, 202, 202, 0.5);
	}
</style>

<body class="area">
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<br>
	<br>
	<br>
	<br>

	<div class="container">
		<h2 class="text-center" style="width: 150px; margin: 20px; background: linear-gradient(to right, #e9b6e9, #d885ec, #bf91f0); border-radius: 10px; padding: 4px; color: white;">
			排行榜
		</h2>
		<div class="mx-3 mt-3 mb-4 mt-4">
			<div class="border rounded"
				 style="width: 100%; height: 130px; background-color: rgb(202, 202, 202, 0.3    );">
				<div>
					<dl class="d-flex">
						<dt style="margin: 10px;">已選</dt>
						<dd class="selected-item" style="margin: 10px;"></dd>
						<dd style="margin: 10px;">
							<a href="" class="reset"
							   style="text-decoration: none; color: black;">重置</a>
						</dd>
					</dl>
					<dl class="d-flex">
						<dt style="margin: 10px;">類別</dt>
						<div id="categories" style="margin: 10px;"></div>
					</dl>
				</div>
			</div>
		</div>

		<div id="app-detail" class="card mb-3 z-0 mx-3 mt-4 mb-4">
		</div>

		<div class="text-center" style="margin-bottom: 50px;">
			<button class="btn btn-outline-light" id="load-more"
					style="font-size: 20px;">
				查看更多
			</button>
		</div>


	</div>
	<script src="~/lib/jquery/dist/jquery-3.7.1.min.js"></script>
	<script>

		var apps = [];
		var tags = [];
		const maxSelection = 5;
		const itemsPerPage = 10;
		let selectedItems = [];
		let filteredApps = [];
		let currentPage = 0;


		$(document).ready(function () { 
			$.get("http://localhost:5000/api/app/tags", (data) => {
				tags = data;
			}).done(() => {

				tags.push({ tagId: 'hot', tagName: '熱門' });
				tags.sort((a, b) => (a.tagId === 'hot') ? -1 : (b.tagId === 'hot') ? 1 : 0);

				for (let tag of tags) {
					$("#categories").append(
						$(`<dd style="margin: 10px;" tagid=${tag.tagId} ><a href="#"  class="list-group-item">${tag.tagName}</a></dd>`)
							.on("click", function (event) {
								event.preventDefault();
								let selectedText = $(this).text();
								let selectedTagsString = $(".selected-item").text()

								if (!selectedItems.includes(tag.tagName)) {
									if (selectedItems.length < maxSelection) {
										selectedItems.push(tag.tagName);
										$(".selected-item").text(selectedItems.join(", "));
									} else {
										alert("最多只能選擇5個類別");
									}
								}
								currentPage = 0;
								ReloadAppDetail();
							})
					).css({
						display: "flex"
					})
				}
				selectedItems.push('熱門');
				$(".selected-item").text('熱門');
				ReloadAppDetail();
			})


			$.get("http://localhost:5000/api/app", (data) => {
				apps = data;
				ReloadAppDetail();
			})

			$(".reset").click(function (e) {
				e.preventDefault();
				selectedItems = [];
				$(".selected-item").text("");
				ReloadAppDetail()
			});

			$("#load-more").click(function () {
				currentPage++;
				AppendAppDetail();
			});
		})

		function ReloadAppDetail() {
			let result;
			if (selectedItems.includes('熱門')) {
				result = apps.slice().sort((a, b) => b.downloaded - a.downloaded);
			} else {
				result = apps.filter((app) => {
					let include = []
					for (let tag of app.tags) {
						include.push(selectedItems.includes(`${tag.tagName}`));
					}
					return include.some((b) => b);
				});
			}
			filteredApps = result;
			currentPage = 0;
			$("#app-detail").html("");
			AppendAppDetail();
		}

		function AppendAppDetail() {
			let start = currentPage * itemsPerPage;
			let end = start + itemsPerPage;
			let result = filteredApps.slice(start, end);

			for (let app of result) {
				let appDetail = $(`
							<div class="card mb-3 z-0 mx-3 mt-4 mb-4">
								<div class="row g-0">
									<div class="col-md-4">
										<img id="app-image" src="${app.headerImage}" class="img-fluid rounded-start" alt="${app.appName}">
									</div>
									<div class="col-md-8">
										<div class="card-body" style="padding: 10px 10px 0 10px;">
											<h4 class="card-title mx-2" id="app-name">${app.appName}</h4>
											<div style="position: absolute; top: 15px; right: 50px; font-size: 15px;" id="app-downloads"> 下載次數 : ${app.downloaded}</div>
											<div class="mb-2 mx-2">
												<p class="card-text border rounded" id="app-description">${app.appDesc}</p>
											</div>
											<div class="d-flex">
												<div>
													<p class="card-text app-genres">
													</p>
												</div>
											</div>
											<div class="mt-1" style="position: absolute; bottom: 3%; left: 35%; font-size: 12px;" id="app-release-date"> 上架日期 : ${app.releaseDate}</div>
											<div class="text-end readmore">
											</div>
										</div>
									</div>
								</div>
							</div>
						`).appendTo("#app-detail");

				for (let tag of app.tags) {
					appDetail.find(".app-genres").append(
						`<small class="text-body-secondary border rounded-pill"
									style="padding: 5px 15px; background-color: rgb(226, 226, 226); margin: 5px;" id="app-genre">${tag.tagName}</small>`
					);
					appDetail.find(".readmore").append(
						`<button class="btn btn-outline-primary" style="margin: 0 20px; position: absolute; bottom: 9%; right: 2%;">詳細資訊</button>`
					);
				}
			}

			if (end >= filteredApps.length) {
				$("#load-more").hide();
			} else {
				$("#load-more").show();
			}
		}

	</script>
</body>