@charset "UTF-8";
h1 {
  text-align: center;
}

h4 {
  text-align: center;
  color: aliceblue;
}

.my_container {
  height: 2000px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  margin: auto;
  width: 100%;
  min-width: 1000px;
  padding-top: 200px;
}
.my_container .main {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 20px black;
  min-height: 500px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 3px;
  position: relative;
}
.my_container .main .itembox {
  flex: 70%;
}
.my_container .main .itembox .gameitem {
  border: 1px solid black;
  display: flex;
  border-radius: 20px;
  padding: 10px;
  height: 150px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
}
.my_container .main .itembox .gameitem:hover {
  transform: translateY(-8px);
  transition: transform 0.2s ease-in-out;
}
.my_container .main .itembox .gameitem .itempic {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_container .main .itembox .gameitem .itempic img {
  width: 200px;
}
.my_container .main .itembox .gameitem .itempic:hover {
  opacity: 0.85;
}
.my_container .main .itembox .gameitem .itemtext {
  flex: 60%;
  margin-left: 20px;
}
.my_container .main .itembox .gameitem .itemtext p {
  margin: 0;
}
.my_container .main .itembox .gameitem .itemtext .item-name {
  text-indent: 80px;
  font-size: 20px;
}
.my_container .main .itembox .gameitem .itemtext .price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.my_container .main .itembox .gameitem .itemtext .price .discount {
  background-color: greenyellow;
  border-radius: 5px;
  margin-right: 10px;
}
.my_container .main .itembox .gameitem .itemtext .price .op {
  text-decoration: line-through;
}
.my_container .main .itembox .gameitem .delete {
  padding-top: 50px;
}
.my_container .main .itembox .gameitem .delete a :hover {
  color: red;
}
.my_container .main .itembox .itembt {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}
.my_container .main .itembox .itembt .continuebt, .my_container .main .itembox .itembt .removebt {
  margin: 20px;
}
.my_container .main .itembox .itembt .btn,
.my_container .main .itembox .itembt .btn:focus {
  position: relative;
  min-width: 100px;
  background: none;
  border: none;
  color: #58afd1;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0 0 0 4px #58afd1;
  transition: color 0.25s 0.0833333333s;
  padding: 10px 20px;
  border-radius: 5;
}
.my_container .main .itembox .itembt .btn:before,
.my_container .main .itembox .itembt .btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border: 0 solid transparent;
  box-sizing: border-box;
}
.my_container .main .itembox .itembt .btn:before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.my_container .main .itembox .itembt .btn:after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.my_container .main .itembox .itembt .btn:hover {
  color: whitesmoke;
}
.my_container .main .itembox .itembt .btn:hover:before,
.my_container .main .itembox .itembt .btn:hover:after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.my_container .main .itembox .itembt .btn:hover:before {
  transition-delay: 0s, 0s, 0.25s;
}
.my_container .main .itembox .itembt .btn:hover:after {
  transition-delay: 0s, 0.25s, 0s;
}
.my_container .main .itembox .empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my_container .main .itembox .empty-message img {
  position: relative;
  width: 350px;
  height: 300px;
  opacity: 0.4;
  border-radius: 7px;
}
.my_container .main .itembox .empty-message .empty-message-text {
  position: absolute;
  color: white;
  font-size: 25px;
  top: 50%;
}
.my_container .main .checkbox {
  flex: 30%;
  min-width: 200px;
  height: 150px;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  text-align: center;
  border-radius: 10px;
  font-style: oblique;
  color: aliceblue;
  padding-bottom: 10px;
  margin-left: 100px;
}
.my_container .main .checkbox .gotocheckbtn {
  position: relative;
  color: #111111;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
}
.my_container .main .checkbox .gotocheckbtn:before {
  content: "";
  position: absolute;
  top: -7;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(206, 5, 220, 0.5);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.my_container .main .checkbox .gotocheckbtn span {
  position: relative;
  z-index: 1;
}
.my_container .main .checkbox .gotocheckbtn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.my_container .main .checkbox .gotocheckbtn:hover:before {
  width: 100%;
  background: purple;
}
.my_container .main .checkbox .gotocheckbtn:hover svg {
  transform: translateX(0);
}
.my_container .main .checkbox .gotocheckbtn:hover,
.my_container .main .checkbox .gotocheckbtn:focus {
  color: whitesmoke;
}
.my_container .main .checkbox .gotocheckbtn:active {
  color: #111111;
  transform: scale(0.96);
}
.my_container .firendhotgame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
/*  max-width: 1000px;*/
  margin: auto;
}
.my_container .firendhotgame .mycard {
  margin: 20px;
}
.my_container .firendhotgame .mycard:hover {
  animation: shake 0.3s ease;
}
.my_container .firendhotgame .mycard .gowhere {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_container .firendhotgame .mycard .gowhere a {
  background-color: red;
  padding: 5px 20px;
  text-align: center;
  display: block;
  font-size: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.my_container .swiperbox {
  max-width: 1000px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.my_container .swiperbox .swiperlist {
  display: flex;
  position: absolute;
  left: 0px;
}
.my_container .swiperbox .swiperlist .photo {
  width: 240px;
  height: 290px;
  margin-left: 30px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_container .swiperbox .swiperlist .photo a {
  background-color: red;
  padding: 5px 20px;
  text-align: center;
  display: block;
  font-size: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

.mikecanvas {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.mikecanvas .mikecanvas_header {
  padding-left: 45%;
}
.mikecanvas .mikecanvas_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.mikecanvas .mikecanvas_body .canvasgameitem {
  border-radius: 20px;
  text-align: center;
  width: 200px; /* 設定父元素寬度 */
  height: 220px; /* 設定父元素高度 */
  margin: 0px 20px;
}
.mikecanvas .mikecanvas_body .canvasgameitem .canvasitem-name {
  margin: 0;
  color: black;
  font-size: 18px;
}
.mikecanvas .mikecanvas_body .canvasgameitem .itempic {
  height: 85%;
  width: 100%;
}
.mikecanvas .mikecanvas_body .canvasgameitem .itempic img {
  height: 100%;
}
.mikecanvas .mikecanvas_body .canvasgameitem .itempic:hover {
  opacity: 0.85;
}
.mikecanvas .mikecanvas_body .canvasgameitem .itemprice .rp {
  margin: 0;
  margin-bottom:0px;
}
.mikecanvas .mikecanvas_body .canvasgameitem .itemprice .canvasGameItemrp {
        margin: 0;
        margin-bottom: 0px;
    }
.mikecanvas .mikecanvas_body .canvasgameitem .deleticon {
  font-size: 1.2rem;
  color: black;
}
.mikecanvas .mikecanvas_body .canvasgameitem .deleticon:hover {
  transform: scale(0.9);
}
    .mikecanvas .canvasgotocheck {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 5px;
  
       
    }
.mikecanvas .canvasgotocheck a {
  background-color: red;
  padding: 5px 20px;
  text-align: center;
  display: block;
  font-size: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=cart2.css.map */